{% extends '_base.html' %}
{% load tailwind_filters %}

{% block title %}Log out{% endblock %}


{% block content %}
    <div class="flex flex-col items-center justify-center w-full pt-12 pb-12">
        <h1 class="mb-2 text-2xl font-semibold tracking-wide text-gray-700">Sign Out</h1>
        <p class="pb-12 text-base font-semibold text-gray-500">Are you sure you want to sign out?</p>
        <form method="post" class="max-w-lg mx-auto overflow-hidden bg-white rounded-lg shadow-lg"
              action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn-cancel"
                    type="submit">Sign Out
            </button>
        </form>
    </div>


{% endblock content %}