{% extends '_base.html' %}
{% load tailwind_filters %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="flex flex-col items-center justify-center w-full pt-12 pb-12">
        <h2 class="mb-2 text-2xl font-semibold tracking-wide text-gray-700">Register a new Admin</h2>
        <form method="post" class="max-w-lg p-12 mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="pt-6"></div>
            <button class="btn-interaction"
                    type="submit">Register
            </button>
        </form>
    </div>
{% endblock content %}
