{% extends '_base.html' %}
{% load tailwind_filters %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="flex flex-col items-center justify-center w-full pt-12 pb-12">
        <h1 class="mb-2 text-2xl font-semibold tracking-wide text-gray-700">Change Password</h1>

        <form method="post" class="max-w-lg mx-auto overflow-hidden bg-white rounded-lg shadow-lg p-12"
              action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn-submit"
                    type="submit">Change Password
            </button>
        </form>
    </div>
{% endblock content %}
