{% extends '_base.html' %}
{% load tailwind_filters %}

{% block title %}Set Password{% endblock title %}

{% block content %}
    <div class="flex flex-col items-center justify-center w-full pt-12 pb-12">
        <form method="POST" action="" class="password_set">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="form-actions">
                <button type="submit" name="action" value="Set Password" class="btn-submit">Change
                    Password
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
