{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <div class="p-4 rounded md:m-8 md:p-8 md:px-16">
        <form method="POST" action="{% url 'scheduleview:schedule-redirect' %}">
            {% csrf_token %}
            <div class="my-3">
                <p class="w-full my-3 text-3xl font-bold text-green-700">
                    (1) Choose Schedule
                </p>
                <div class="flex flex-col md:flex-row">
                    <select
                            name="{{ check_schedule_form.schedule.name }}"
                            class="py-1 pl-2 pr-20 my-auto border-2 border-black rounded border-1 md:w-1/4"
                    >
                        {% for choice in check_schedule_form.schedule.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    <p class="mx-6 my-auto font-bold text-black">
                        OR
                    </p>
                    <a href="/crud/schedules">
                        <button type="button" class="px-3 py-2 font-bold text-black bg-gray-200 rounded">
                            <i class="mr-1 fa fa-plus" aria-hidden="true"></i>
                            Create New Schedule
                        </button>
                    </a>
                </div>
            </div>
            <div class="my-3 md:w-1/2">
                <p class="w-full my-3 text-3xl font-bold text-green-700">
                    (2) Choose Constraint Set
                </p>
                <select
                    name="{{ check_schedule_form.preference_set.name }}"
                    class="py-1 pl-2 pr-20 my-auto border-2 border-black rounded border-1 md:w-1/4"
                >
                    {% for choice in check_schedule_form.preference_set.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex flex-col md:flex-row">
                <div class="md:w-1/2">
                    <div class="my-3">
                        <p class="w-full my-3 text-3xl font-bold text-green-700">
                            (3) See Schedule
                        </p>
                        <button type="submit" class="p-4 text-3xl text-white bg-blue-600 rounded">
                            <span class="my-auto mr-2 text-2xl">Run</span>
                            <i class="fa fa-mouse-pointer" style="transform: rotate(-16deg);" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>

            </div>
        </form>
    </div>
{% endblock %}
