{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <div class="md:m-8 p-4 md:p-8 md:px-16 bg-gray-100 rounded">
        <div class="my-3">
            <p class="text-3xl text-green-700 font-bold my-3 w-full">
                (1) Choose Constraint Sets
            </p>
            <div class="flex flex-col md:flex-row">
                <select class="my-auto py-1 pr-20 pl-2 rounded border-1 border-2 border-black md:w-1/4">
                    <option value="1">Existing Schedule 1</option>
                </select>
                <p class="mx-6 font-bold text-black my-auto">
                    OR
                </p>
                <button class="font-bold bg-gray-200 rounded text-black py-2 px-3">
                    <i class="fa fa-plus mr-1" aria-hidden="true"></i>
                    Create New Schedule
                </button>
            </div>
        </div>
        <div class="my-3 md:w-1/2">
            <p class="text-3xl text-green-700 font-bold my-3 w-full">
                (1) Choose Constraint Sets
            </p>
            <div class="flex">
                <select class="my-auto py-1 pr-20 pl-2 rounded border-2 border-black w-2/3 md:w-full">
                    <option value="1">Spring 2021 Constraints 1</option>
                </select>
                <button class=" rounded-full my-auto h-8 w-8 text-green-500 border-4 border-green-500 ml-4">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="my-3 md:w-1/2">
            <p class="text-green-500 w-full text-xl">Chosen Constraints</p>
            <div class="bg-blue-700 text-white my-3 w-full">
                <p class="p-4"><i class="fa fa-angle-right mr-1" aria-hidden="true"></i> Standard Constraints</p>
            </div>
            <div class="bg-blue-700 text-white my-3 w-full">
                <p class="p-4"><i class="fa fa-angle-right mr-1" aria-hidden="true"></i> Standard Constraints</p>
            </div>
        </div>

        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/2">
                <div class="my-3">
                    <p class="text-3xl text-green-700 font-bold my-3 w-full">
                        (3) Analyze Schedule
                    </p>
                    <button class="p-4 text-3xl rounded bg-blue-600 text-white">
                        <span class="text-2xl my-auto mr-2">Run</span> <i class="fa fa-mouse-pointer"
                                                                          style="transform: rotate(-16deg);"
                                                                          aria-hidden="true"></i>
                    </button>
                </div>

                <div class="w-full bg-black relative" style="height: calc(100% - 165px);    min-height: 220px;">
                    <div class="w-full text-white text-xl bottom-0 absolute">
                        <p class="px-4 text-green-200">
                            Standard Constraints Evaluation Complete.
                        </p>
                        <p class="px-4">
                            Processing...
                        </p>
                        <p class="py-2">
                        </p>
                        <div class="bg-gray-400 p-2">
                            <div class="w-6 h-6 text-center text-sm rounded bg-white text-black">
                                <i class="fa fa-terminal" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:w-1/2 px-4 md:px-10">
                <div>
                    <p class="text-2xl text-green-500 mb-5">Results:</p>

                    <div class="shadow-lg rounded w-full my-6">
                        <div class="flex gap-3 border-t-4 p-4 shadow-md bg-skyBlue_color"
                             style="border-top-color:#00c4a8; color:#038f7a;">
							<span class="border-2 w-8 h-8 px-3 mt-2.5 rounded-full"
                                  style="border-color:#038f7a;place-self: flex-start;">
								<i class="fa fa-exclamation mt-1.5" aria-hidden="true"></i>
							</span>
                            <p class="my-auto text-sm">
								<span class="font-bold">
									Standard Constraints Are Satisfied
								</span>
                                <br/>
                                The provided schedule fully satisfies each constraint in this set.
                            </p>
                        </div>
                    </div>

                    <div class="shadow-lg rounded w-full my-6">
                        <div class="flex gap-3 border-t-4 p-4  shadow-md bg-skyBlue_color"
                             style="border-top-color:rgb(246 125 11); color:rgb(246 125 11); background-color: rgb(251 249 158)">
							<span class="border-2 w-8 h-8 px-3 mt-2.5 rounded-full"
                                  style="border-color:rgb(246 125 11);place-self: flex-start;">
								<i class="fa fa-exclamation mt-1.5" aria-hidden="true"></i>
							</span>
                            <p class="my-auto text-sm">
								<span class="font-bold">
									Spring 2021 Math Instructor Preference Are Not Fully Met 
								</span>
                                <br/>
                                Although a majority of constraints are satisfied. some are not.
                            </p>
                        </div>
                    </div>

                    <div class="shadow-lg rounded w-full my-6">
                        <div class="flex gap-3 border-t-4 p-4 shadow-md bg-red-600
						text-white border-red-900">
							<span class="border-2 w-8 h-8 px-3 mt-2.5 rounded-full"
                                  style="border-color:white;place-self: flex-start;">
								<i class="fa fa-exclamation mt-1.5" aria-hidden="true"></i>
							</span>
                            <p class="my-auto text-sm">
								<span class="font-bold">
									Spring 2021 Constraints Are Not Sufficiently Satisfied 
								</span>
                                <br/>
                                The provided schedule has many conflicts with the constraints in this set.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
