{% extends '_base.html' %}
{% load static %}

{% block title %}CRUD{% endblock title %}

{% block content %}
    <div class="min-h-screen sm:pt-12 xl:pt-36">
        <div class="flex flex-wrap justify-center gap-6 text-2xl text-white">
            <a href="{% url 'database:crud_users' %}">
                <button class="bg-blue-400 rounded-xl w-96 h-96">
                    Users
                    <img src="{% static 'icons/card.svg' %}" class="m-auto"
                         style="height: 150px; width: 150px;">
                </button>
            </a>
            <a href="{% url 'database:crud_scheduling' %}">
                <button class="bg-blue-400 rounded-xl w-96 h-96">
                    Scheduling
                    <img src="{% static 'icons/calendar.svg' %}" class="m-auto"
                         style="height: 150px; width: 150px;">
                </button>
            </a>
            <a href="{% url 'database:crud_constraints' %}">
                <button class="bg-blue-400 rounded-xl w-96 h-96">
                    Constraints
                    <img src="{% static 'icons/puzzle_icon.svg' %}" class="m-auto"
                         style="height: 150px; width: 150px;">
                </button>
            </a>
            <a href="{% url 'database:crud_sets' %}">
                <button class="bg-blue-400 rounded-xl w-96 h-96">
                    Object Sets
                    <img src="{% static 'icons/collection.svg' %}" class="m-auto"
                         style="height: 150px; width: 150px;">
                </button>
            </a>
        </div>
    </div>
{% endblock content %}
