{% extends '_base.html' %}

{% block title %}CRUD Testing{% endblock %}

{% block content %}
    <div class="bg-gray-300 font-sans h-screen">
        <div class="grid grid-cols-2 gap-2 pt-24 text-center">
            <div class="text-3xl text-blue-700 font-bold my-3 w-full">
                Users
                <ul>
                    <li class="text-green-500 w-full text-xl mt-4">
                        <a href="{% url 'pages:crud-testing' %}">
                            Students
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Teachers
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Registrations
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-3xl text-blue-700 font-bold my-3 w-full">
                Constraints
                <ul>
                    <li class="text-green-500 w-full text-xl mt-4">
                        <a href="{% url 'pages:crud-testing' %}">
                            Course Preferences
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Course Overlap Preferences
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Room Preferences
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Time Preferences
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-3xl text-blue-700 font-bold my-3 w-full">
                Structural
                <ul>
                    <li class="text-green-500 w-full text-xl mt-4">
                        <a href="{% url 'pages:crud-testing' %}">
                            Departments
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Buildings
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Rooms
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-3xl text-blue-700 font-bold my-3 w-full">
                Scheduling
                <ul>
                    <li class="text-green-500 w-full text-xl mt-4">
                        <a href="{% url 'pages:crud-testing' %}">
                            Schedules
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Courses
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Section
                        </a>
                    </li>
                    <li class="text-green-500 w-full text-xl mt-2">
                        <a href="{% url 'pages:crud-testing' %}">
                            Timeblocks
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}