{% extends '_base.html' %}

{% block title %}CRUD{% endblock title %}

{% block content %}
    <div class="h-screen">
        <div class="grid grid-cols-2 gap-2 pt-24 text-center">
            <div class="w-full my-3 text-3xl font-bold text-blue-700">
                Users
                <ul>
                    <li class="w-full mt-4 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Students
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Teachers
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Registrations
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full my-3 text-3xl font-bold text-blue-700">
                Constraints
                <ul>
                    <li class="w-full mt-4 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Course Preferences
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Course Overlap Preferences
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Room Preferences
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Time Preferences
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full my-3 text-3xl font-bold text-blue-700">
                Structural
                <ul>
                    <li class="w-full mt-4 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Departments
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Buildings
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Rooms
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full my-3 text-3xl font-bold text-blue-700">
                Scheduling
                <ul>
                    <li class="w-full mt-4 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Schedules
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Courses
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Section
                        </a>
                    </li>
                    <li class="w-full mt-2 text-xl text-green-500">
                        <a href="{% url 'pages:crud' %}">
                            Timeblocks
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}