{% extends '_base.html' %}

{% block title %}Docs page{% endblock %}

{% block content %}
<div class="flex flex-wrap justify-center gap-6">
    <div class="w-3/4 bg-white shadow-lg rounded-2xl md:w-3/4">
        <div class="p-4">
            <p class="pb-3 text-7xl font-bold text-purple-600">Reference Guide</p>
            <ul class="pt-12 list-disc list-inside bg-rose-200 list-inside md:list-inside text-3xl">
                <li class="hover:underline"><a href="{% url 'documentation:datasheet-documentation' %}">Datasheet</a></li>
                <li class="hover:underline"><a href="{% url 'documentation:database-documentation' %}">Database Manual Input</a></li>
                <li class="hover:underline"><a href="{% url 'documentation:databaseUp-documentation' %}">Database Upload Input</a></li>
                <li class="hover:underline"><a href="{% url 'documentation:schedule-documentation' %}">Schedule</a></li>
                <li class="hover:underline"><a href="{% url 'documentation:studentData-documentation' %}">Student Data</a></li>
                <li class="hover:underline"><a href="{% url 'documentation:helper-documentation' %}">Helper</a></li>
            </ul>
            <div class="flex gap-6">
            </div>
        </div>
    </div>
</div>
{% endblock content %}