{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <div class="p-8 md:p-16">
        <div class="flex flex-col gap-10 md:flex-row md:gap-24 md:w-4/5">
            <div class="md:w-1/2">
                <p class="w-full my-3 text-3xl font-bold text-blue-700">
                    Choose Constraint Sets
                </p>
                <div class="flex w-full gap-4 mb-3">
                    <select class="px-2 py-1 my-auto md:w-1/2">
                        <option value="1">Spring 2021 Constraints</option>
                    </select>
                    <button class="w-8 h-8 my-auto text-green-500 border-4 border-green-500 rounded-full">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <p class="w-full text-xl text-green-500">Chosen Constraints</p>
                <div class="w-full my-3 text-white bg-blue-700">
                    <p class="p-4"><i class="mr-1 fa fa-angle-right" aria-hidden="true"></i> Standard Constraints</p>
                </div>
                <div class="my-3 text-white bg-blue-700">
                    <p class="p-4"><i class="mr-1 fa fa-angle-right" aria-hidden="true"></i> Spring 2021 Math Instructor
                        Preferences</p>
                </div>
            </div>

            <div class="md:w-1/2">
                <p class="w-full my-3 text-3xl font-bold text-blue-700">
                    Choose Classes
                </p>
                <div class="flex w-full gap-4 mb-3">
                    <select class="px-2 py-1 my-auto md:w-1/2">
                        <option value="1">Spring 2021 Math 101's</option>
                    </select>
                    <button class="w-8 h-8 my-auto text-green-500 border-4 border-green-500 rounded-full">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <p class="w-full text-xl text-green-500">Chosen Constraints</p>
                <div class="w-full my-3 text-white bg-blue-700">
                    <p class="p-4"><i class="mr-1 fa fa-angle-right" aria-hidden="true"></i> Spring 2021 Upper Level
                        CSCI
                    </p>
                </div>
                <div class="w-full my-3 text-white bg-blue-700">
                    <p class="p-4"><i class="mr-1 fa fa-angle-right" aria-hidden="true"></i> Spring 2021 CSCI 101's</p>
                </div>
            </div>

        </div>

        <button class="px-4 py-2 my-8 text-white bg-green-500 rounded-full">
            Start Generation Process
        </button>

        <div class="relative bg-black md:w-4/5 h-52">
            <div class="absolute bottom-0 w-full text-2xl font-bold text-white">
                <p class="p-4">
                    Status Messages Will Appear Here
                </p>
                <div class="p-2 bg-gray-400">
                    <div class="w-6 h-6 text-sm text-center text-black bg-white rounded">
                        <i class="fa fa-terminal" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
