{% extends '_base.html' %}
{% load tailwind_filters %}
{% load static %}
{% load tags %}

<script src="{% static 'js/custom-chart.js' %}"></script>

{% block title %}Home page{% endblock title %}

{% block content %}
    <div class="text-center">
        {% if user.is_authenticated %}
            <div class="flex flex-wrap justify-center gap-6 my-10">
                <div class="w-3/4 bg-white shadow-lg rounded-2xl md:w-1/4">
                    <div class="flex text-3xl text-center bg-red-500">
                        <img src="{% static 'icons/table.svg' %}" class="m-auto w-2/6 py-10">
                    </div>
                    <div class="p-4">
                        <p class="pb-3 text-2xl font-bold">Data Sheets</p>
                        <p class="text-xl">Upload Excel or Google
                            Sheets files, or download application data for later use.</p>
                        <div class="flex gap-6 my-6 justify-center">
                            <a href="{% url 'dataingest:upload_csv' %}">
                                <button class="border-red-500 btn-basic">
                                    <i class="py-2 mr-2 text-red-500 fa fa-upload" aria-hidden="true"></i>
                                    Upload New File
                                </button>
                            </a>
                            <a href="/crud/model-set">
                                <button class="border-red-500 btn-basic">
                                    <i class="py-2 mr-2 text-red-500 fa fa-file-download" aria-hidden="true"></i>
                                    Download Data
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="w-3/4 bg-white shadow-lg rounded-2xl md:w-1/4">
                    <div class="flex text-3xl text-center bg-blue-500">
                        <img src="{% static 'icons/manage_data_icon.svg' %}" class="m-auto w-2/6 py-10">
                    </div>
                    <div class="p-4">
                        <p class="pb-3 text-2xl font-bold">Database</p>
                        <p class="text-xl">Input data
                            into the database, then manage and explore it.</p>
                        <div class="flex gap-6 my-6 justify-center">
                            <a href="{% url 'pages:crud' %}">
                                <button class="border-blue-500 btn-basic">
                                    <i class="py-2 mr-2 text-blue-500 fa fa-database" aria-hidden="true"></i>
                                    Open Database Interface
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="w-3/4 bg-white shadow-lg rounded-2xl md:w-1/4">
                    <div class="flex justify-center text-3xl text-center bg-green-500">
                        <img src="{% static 'icons/generate_schedule_icon.svg' %}" class="m-auto w-2/6 py-10">
                    </div>
                    <div class="p-4">
                        <p class="pb-3 text-2xl font-bold">Schedules</p>
                        <p class="text-xl">Create and edit course schedules, as well as check
                            them for constraint integrity.</p>
                        <div class="flex gap-6 my-6 justify-center">
                            <a href="{% url 'schedule:check-schedule' %}">
                                <button class="border-green-500 btn-basic">
                                    <i class="py-2 mr-2 text-green-500 fa fa-calendar-plus" aria-hidden="true"></i>
                                    Start Scheduling
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'components/data-collection-statistics.html' %}
        {% else %}
            <div class="pt-48">
                <p class="text-4xl font-bold leading-7 text-purple-600">Hello world!</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
