{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load parse_var %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <div class="font-sans text-center">
        {% if user.is_authenticated %}
            <div class="flex flex-wrap justify-center gap-6 my-10">
                <div class="w-3/4 bg-white shadow-lg rounded-2xl md:w-1/4">
                    <div class="flex text-3xl text-center bg-red-600" style="height: 250px;">
                        <img src="{% static 'icons/upload.svg' %}" class="m-auto"
                             style="height: 150px; width: 150px;">
                    </div>
                    <div class="p-4">
                        <p class="pb-3 text-xl font-bold">Upload</p>
                        <p style="min-height: 90px;" class="text-left">Use this interface to upload an appropriately
                            formatted csv file and ingest its contents into the database.</p>
                        <div class="flex gap-6 my-4" style="flex-flow: wrap;">
                            <a href="{% url 'dataingest:upload' %}">
                                <button class="px-3 py-2 font-medium bg-gray-200 rounded">
                                    <i class="mr-2 fa fa-upload" aria-hidden="true"></i>
                                    Upload New File
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="w-3/4 bg-white shadow-lg rounded-2xl md:w-1/4">
                    <div class="flex text-3xl text-center" style="height: 250px; background: blue;">
                        <img src="{% static 'icons/manage_data_icon.svg' %}" class="m-auto"
                             style="height: 150px; width: 150px;">
                    </div>
                    <div class="p-4">
                        <p class="pb-3 text-xl font-bold">Database</p>
                        <p style="min-height: 90px;" class="text-left">Use this menu to input course and constraint data
                            into the
                            database, as well as send out interest forms to your students.</p>
                        <div class="flex gap-6 my-4">
                            <a href="{% url 'pages:crud' %}">
                                <button class="px-3 py-1 font-medium bg-gray-200 rounded w-60">
                                    <i class="py-2 mr-2 fa fa-database" aria-hidden="true"></i>
                                    Open Input Interface
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="w-3/4 bg-white shadow-lg rounded-2xl md:w-1/4">
                    <div class="flex justify-center text-3xl text-center" style="height: 250px; background: limegreen;">
                        <img src="{% static 'icons/generate_schedule_icon.svg' %}" class="m-auto"
                             style="height: 150px; width: 150px;">
                    </div>
                    <div class="p-4">
                        <p class="pb-3 text-xl font-bold">Schedules</p>
                        <p style="min-height: 90px;" class="text-left">Use this interface to create and edit course
                            schedules.</p>
                        <div class="flex gap-6 my-4">
                            <a href="{% url 'pages:generate-schedule' %}">
                                <button class="px-3 py-1 font-medium bg-gray-200 rounded w-60">
                                    <i class="py-2 mr-2 fa fa-play" aria-hidden="true"></i>
                                    Begin Scheduling Process
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-3/4 mx-auto mb-10">
                <div class="justify-center mx-auto bg-white shadow-lg md:w-4/5 md:px-3 rounded-3xl">
                    <p class="py-4 text-xl font-bold bg-white pb-7">
                        Student Data Collection Progress
                    </p>
                    <div class="w-3/4 mx-auto">
                        <form action="{% url 'database:preference_set_form_open' %}" method="POST">
                            {% csrf_token %}
                            {{ open_new_prefernce_form|crispy }}
                            <button class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Open
                            </button>
                        </form>
                    </div>
                    {% for preference_form in all_preference_forms %}
                        {% if preference_form.is_active %}
                            <div class="flex flex-col justify-between gap-5 p-8 md:flex-row">
                                <div class="bg-white md:w-1/2">
                                    <div>
                                        <div class="flex gap-3 p-6 py-8 border-t-4 shadow-md bg-skyBlue_color"
                                             style="border-top-color:#00c4a8; height: fit-content;">
                                            <p class="my-auto">
                                                <span class="teal_color">
                                                    <a href="{{ preference_form.form_link }}">{{ preference_form.set }}</a>
                                                    {% get_course_stats preference_form as stat_list %}

                                                </span>
                                                <ul>
                                                    {% for stat in stat_list %}
                                                        <li>{{ stat.course }}: {{ stat.count }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </p>
                                            {% if preference_form.is_taking_responses %}
                                            <form action="{% url 'database:preference_set_form_open_close' preference_form.id 'close' %}" method="POST">
                                                {% csrf_token %}
                                                <button class="h-10 px-5 m-2 text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800">Close</button>
                                            </form>
                                            {% else %}
                                                <form action="{% url 'database:preference_set_form_open_close' preference_form.id 'open' %}" method="POST">
                                                {% csrf_token %}
                                                <button class="h-10 px-5 m-2 text-green-100 transition-colors duration-150 bg-green-700 rounded-lg focus:shadow-outline hover:bg-green-800">Open</button>
                                            </form>
                                            {% endif %}
                                            <form action="{% url 'database:preference_set_form_open_close' preference_form.id 'remove' %}" method="POST">
                                                {% csrf_token %}
                                                <button class="h-10 px-5 m-2 text-gray-100 transition-colors duration-150 bg-gray-700 rounded-lg focus:shadow-outline hover:bg-gray-800">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="md:w-1/2">
                                    <div class="sm:grid sm:h-32 sm:grid-flow-row sm:gap-4 sm:grid-cols-3">
                                        <div class="flex flex-col justify-center px-4 py-4 bg-white border border-gray-300 rounded">
                                            <div>
                                                <div>
                                                    <p class="flex items-center justify-end text-green-500 text-md">
                                                        <span class="font-bold">{{ preference_form.response_entries.1 }}%</span>
                                                        <i class="ml-2 fa fa-thumbs-up"></i>
                                                    </p>
                                                </div>
                                                <p class="text-3xl font-semibold text-center text-gray-800">{{ preference_form.response_entries.0 }}</p>
                                                <p class="text-lg text-center text-gray-500">Responses</p>
                                            </div>
                                        </div>

                                        <div id="jh-stats-negative"
                                             class="flex flex-col justify-center px-4 py-4 mt-4 bg-white border border-gray-300 rounded sm:mt-0">
                                            <div>
                                                <div>
                                                    <p class="flex items-center justify-end text-red-500 text-md">
                                                        <span class="font-bold">{{ preference_form.no_response_entries.1 }}%</span>
                                                        <i class="ml-2 fa fa-ban"></i>
                                                    </p>
                                                </div>
                                                <p class="text-3xl font-semibold text-center text-gray-800">{{ preference_form.no_response_entries.0 }}</p>
                                                <p class="text-lg text-center text-gray-500">No Response</p>
                                            </div>
                                        </div>

                                        <div id="jh-stats-neutral"
                                             class="flex flex-col justify-center px-4 py-4 mt-4 bg-white border border-gray-300 rounded sm:mt-0">
                                            <div>
                                                <p class="pt-6 text-3xl font-semibold text-center text-gray-800">{{ preference_form.total_students }}</p>
                                                <p class="text-lg text-center text-gray-500">Total</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="pt-48">
                <p class="text-4xl font-bold leading-7 text-purple-600">Hello world!</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
