{% extends '_base.html' %}
{% load static %}
{% load tags %}

{% block title %}Calendar{% endblock title %}

{% block extra_styles %}
    <style>
        input:checked ~ .dot {
            transform: translateX(100%);
            background-color: #48bb78;
        }
    </style>
{% endblock %}

<script type="text/javascript">
    {% for section in sections_queryset %}
        fetch('{% url 'schedule:schedule-section-edit' schedule_id preference_set_id section.id %}')
            .then(response => response.text())
            .then(data => {
                document.querySelectorAll('.js_edit_section_{{ section.id }}').forEach(item => {
                    item.innerHTML = data;
                })
            });
    {% endfor %}
</script>

{% block content %}
    <div class="px-8">
        <div class="flex flex-wrap w-full gap-6 mb-12">
            {% for section in sections_queryset %}
                <label for="{{ section.id }}" class="flex items-center cursor-pointer">
                    <div class="relative">
                        <input class="sr-only js_session_filter" type="checkbox" id="{{ section.id }}" checked>
                        <div class="block h-8 bg-gray-600 rounded-full w-14"></div>
                        <div class="absolute w-6 h-6 transition bg-white rounded-full dot left-1 top-1"></div>
                    </div>
                    <div class="ml-1 font-medium text-gray-700">
                        {{ section }}
                    </div>
                </label>
            {% endfor %}
        </div>

        <table class="w-full table-auto">
            <thead>
            <tr class="w-full h-20 font-bold text-center text-gray-600 uppercase bg-gray-400">
                <td class="w-1/6 text-white bg-gray-500">Time</td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
            </tr>
            {% for time_block in time_blocks %}
                <tr class="">
                    <td class="p-2 bg-gray-400 border-b border-white">
                        <div class="">
                            <div class="inline-block w-1/6 m-4 text-center bg-white rounded-lg">
                                {{ time_block|get_timeblock_letter }}
                            </div>
                            <div class="inline-block">
                                {{ time_block|parse_time }}
                            </div>
                        </div>
                    </td>
                    {% for day in day_list %}
                        <td class="h-16 bg-gray-300">
                            {% get_item_assign timeblock_day_dict|get_item:time_block.id day as section_day_list %}
                            {% for section in section_day_list %}
                                <div
                                        class="bg-gray-400 bg-{{ sections|get_item:section.id|get_item:'color' }}-400 m-2 p-3 rounded-md js_section_{{ section.id }}"
                                >
                                    {{ section }}
                                    <div class="flex gap-4">
                                        <div @click.away="open = false" class="relative" x-data="{ open: false }">
                                            <button @click="open = !open"
                                                    class="flex flex-row items-center p-1 m-1 text-lg font-semibold text-left bg-gray-400 rounded-md hover:text-gray-200 focus:text-gray-100 focus:outline-none focus:shadow-outline">
                                                <span>Edit</span>
                                                <svg fill="currentColor" viewBox="0 0 20 20"
                                                     :class="{'rotate-180': open, 'rotate-0': !open}"
                                                     class="inline w-4 h-4 transition-transform duration-200 transform">
                                                    <path fill-rule="evenodd"
                                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                          clip-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                            <div x-show="open" x-transition:enter="transition ease-out duration-100"
                                                 x-transition:enter-start="transform opacity-0 scale-95"
                                                 x-transition:enter-end="transform opacity-100 scale-100"
                                                 x-transition:leave="transition ease-in duration-75"
                                                 x-transition:leave-start="transform opacity-100 scale-100"
                                                 x-transition:leave-end="transform opacity-0 scale-95"
                                                 class="absolute right-0 z-50 p-4 origin-top-right bg-white rounded-md shadow-lg w-72">
                                                <form action="{% url 'schedule:schedule-section-edit' schedule_id preference_set_id section.id %}"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <div class="js_edit_section_{{ section.id }}"></div>
                                                    <button class="mt-6 btn-interaction">
                                                        Update
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div @click.away="open = false" class="relative" x-data="{ open: false }">
                                            <button @click="open = !open"
                                                    class="flex flex-row items-center p-1 m-1 text-lg font-semibold text-left bg-gray-400 rounded-md hover:text-gray-200 focus:text-gray-100 focus:outline-none focus:shadow-outline">
                                                <span>Detail</span>
                                                <svg fill="currentColor" viewBox="0 0 20 20"
                                                     :class="{'rotate-180': open, 'rotate-0': !open}"
                                                     class="inline w-4 h-4 transition-transform duration-200 transform">
                                                    <path fill-rule="evenodd"
                                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                          clip-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                            <div x-show="open" x-transition:enter="transition ease-out duration-100"
                                                 x-transition:enter-start="transform opacity-0 scale-95"
                                                 x-transition:enter-end="transform opacity-100 scale-100"
                                                 x-transition:leave="transition ease-in duration-75"
                                                 x-transition:leave-start="transform opacity-100 scale-100"
                                                 x-transition:leave-end="transform opacity-0 scale-95"
                                                 class="absolute right-0 z-50 p-4 origin-top-right bg-white rounded-md shadow-lg w-72">
                                                <ol class="p-2 list-disc">
                                                    {% get_item_assign sections|get_item:section.id 'positive_points' as positive_points %}
                                                    {% for point in positive_points %}
                                                        <li class="text-green-800">{{ point }}</li>
                                                    {% empty %}
                                                        <li>This section does not follow any preferences.</li>
                                                    {% endfor %}
                                                </ol>
                                                <ol class="p-2 list-disc">
                                                    {% get_item_assign sections|get_item:section.id 'negative_points' as negative_points %}
                                                    {% for point in negative_points %}
                                                        <li class="text-red-800">{{ point }}</li>
                                                    {% empty %}
                                                        <li>This section does not conflict with any preferences.</li>
                                                    {% endfor %}
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </thead>
        </table>
        <button class="px-6 py-4 m-4 font-bold text-center uppercase border-2 border-black">Save as CSV</button>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/schedule-filter.js' %}"></script>
{% endblock %}
