{% extends '_base.html' %}
{% load static %}
{% load tags %}

{% block title %}Calendar{% endblock title %}
{% block content %}
    <div class="px-8">
        <div @click.away="open = false" class="relative" x-data="{ open: false,checked: true}">
            <button @click="open = !open"
                    class="flex flex-row items-center py-2 px-5 m-1 text-lg font-semibold text-right bg-gray-400 rounded-md hover:text-gray-200 focus:text-gray-100 focus:outline-none focus:shadow-outline ml-auto">
                <span>Filter</span>
                <svg fill="currentColor" viewBox="0 0 20 20"
                     :class="{'rotate-180': open, 'rotate-0': !open}"
                     class="inline w-4 h-4 transition-transform duration-200 transform">
                    <path fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
            <div x-show="open" x-transition:enter="transition ease-out duration-100"
                 x-transition:enter-start="transform opacity-0 scale-95"
                 x-transition:enter-end="transform opacity-100 scale-100"
                 x-transition:leave="transition ease-in duration-75"
                 x-transition:leave-start="transform opacity-100 scale-100"
                 x-transition:leave-end="transform opacity-0 scale-95"
                 class="absolute right-0 origin-top-right rounded-md shadow-lg bg-gray-100 p-4 w-72 z-50">

                <input type="text" id="myInput" onkeyup="filterSectionCheckBoxes()" placeholder="Search for sections..."
                       class="px-3 py-3 mb-4 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full">

                <ul id="myUL" class="flex w-full gap-4 flex-wrap ml-1">
                    {% for section in sections_queryset %}
                        <li id="{{ section }}" class="border-gray-300 border-b last:border-b-0 w-full">
                            <label for="{{ section.id }}" class="flex items-center cursor-pointer">
                                <div class="relative">
                                    <input class="js_session_filter form-checkbox h-4 w-4 text-gray-600" type="checkbox"
                                           id="{{ section.id }}" x-bind:checked="checked">
                                </div>
                                <div class="ml-1 text-gray-700 font-medium">
                                    {{ section }}
                                </div>
                            </label>
                        </li>
                    {% endfor %}
                    <button class="btn-cancel" id="js_clear_all_btn">
                        Check/Uncheck All
                    </button>
                </ul>
            </div>
        </div>


        <table class="w-full table-auto bg-gray-300">
            <thead>
            <tr class="w-full h-20 font-bold text-center text-gray-600 uppercase bg-gray-400">
                <td class="w-1/4 text-white bg-gray-500">Time</td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
            </tr>
            {% for time_block in time_blocks %}
                <tr class="h-28">
                    <td class="p-2 bg-gray-400 border-b border-white">
                        <div class="">
                            <div class="inline-block w-1/4 m-4 text-center bg-white rounded-lg">
                                {{ time_block|get_timeblock_letter }}
                            </div>
                            <div class="inline-block">
                                {{ time_block|parse_time }}
                            </div>
                        </div>
                    </td>
                    {% for day in day_list %}
                        <td class="h-16 bg-gray-300">
                            {% get_item_assign timeblock_day_dict|get_item:time_block.id day as section_day_list %}
                            {% for section in section_day_list %}
                                {% include "components/schedule_section.html" %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% for section_sub_list in sections_without_timeblock %}
                <tr class="h-28">
                    {% if forloop.counter == 1 %}
                        <td class="p-2 bg-gray-400 border-b border-white w-1/6"
                            rowspan="{{ sections_without_timeblock|length }}">
                            <div class="">
                                <div class="inline-block flex justify-center">
                                    Sections Without Timeblock
                                </div>
                            </div>
                        </td>
                    {% endif %}
                    {% for section in section_sub_list %}
                        <td class="h-16 bg-gray-300">
                            {% include "components/schedule_section.html" %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </thead>
        </table>

    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/schedule-filter.js' %}" defer></script>
{% endblock %}
