{% extends '_base.html' %}

{% block title %}Download CSV{% endblock %}
{% load tags %}

{% block content %}
    <div class="pt-12 text-center">
        <div class="w-1/2 py-12 mx-auto bg-white rounded-lg">
            <form method="post" class="pb-12">
                {% csrf_token %}
                <div class="text-lg">Downloading the following set of objects:</div>
                <div class="py-8 text-xl"><b>{{ object }}</b></div>
                <div>
                    {% for instance in field_data %}
                        <table class="m-5 mx-auto">
                            <tr class="border-b">
                                <th class="px-4 py-3">Field</th>
                                <th class="px-4 py-3">Value</th>
                            </tr>
                            {% for field, value in instance.fields.items %}
                                {% if not value.items %}
                                    <tr class="border-b">
                                        <th class="px-4 py-3">{{ field|parse_var|clean_preference_field_name }}</th>
                                        <th class="px-4 py-3 font-normal">{{ value|to_human_readable }}</th>
                                    </tr>
                                {% else %}
                                    {% for key, item in value.items %}
                                        <tr class="border-b">
                                            <th class="px-4 py-3">{{ key|parse_var }}</th>
                                            <th class="px-4 py-3  font-normal">{{ item|to_human_readable }}</th>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endfor %}
                </div>
                <button type="submit"
                        class="btn-submit mt-6">
                    Download CSV
                    <i class="ml-2 text-xl fa fa-download"></i>
                </button>
            </form>
            <a href="javascript:history.back()"
               class="btn-cancel">Go
                Back</a>
        </div>

    </div>
{% endblock content %}