{% extends '_base.html' %}
{% load tailwind_filters %}

{% block content %}
    <div class="h-screen font-sans text-center ">
        <div class="flex flex-col items-center justify-center w-full pt-12 pb-12">
            <h2 class="mb-2 pb-4 text-5xl font-bold tracking-wide text-blue-600 ">Upload</h2>
            <div class="bg-white p-8 rounded-lg">
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn-interaction mt-6">
                        Upload File
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}