{% extends '_base.html' %}
{% load tags %}
{% load tailwind_filters %}

{% block title %}Confirm Csv Upload{% endblock title %}

{% block content %}
    <div class="w-full min-h-screen text-center">
        <table class="w-5/6 mx-auto bg-white rounded shadow-md table-auto">
            <thead>
            <tr class="w-full text-gray-600 uppercase bg-gray-300">
                <th class="px-6 py-3" colspan="2">Please Confirm You Would Like To Create The Following Objects:</th>
            </tr>
            </thead>
            <tbody class="w-full overflow-y-scroll text-sm font-light text-gray-600">
            {% for object in objects %}
                <tr x-data="{expanded:false}"
                    class="justify-around w-full h-24 border-b border-gray-200">
                    <td>
                        <button type="button" class="w-full h-24 hover:bg-gray-100" @click="expanded = !expanded">
                            {{ object.fields.name }}
                            {{ object.fields.user.first_name }} {{ object.fields.user.last_name }}
                            {{ object|pref_str }}
                            <i x-show="!expanded" class="ml-2 fas fa-plus-circle"></i>
                            <i x-show="expanded" class="ml-2 fas fa-minus-circle"></i>
                        </button>
                        <div class="mx-auto" id="data">
                            <div x-bind:style="expanded == true ? 'max-height: ' + $refs.container1.scrollHeight + 'px; overflow:hidden;' : 'overflow:hidden;'"
                                 x-ref="container1"
                                 class="relative transition-all duration-700 max-h-0 bg-gray-50">
                                <table class="my-8 mx-auto bg-white">
                                    <tr class="border bg-gray-300">
                                        <th class="px-4 py-3">Field</th>
                                        <th class="px-4 py-3">Value</th>
                                    </tr>
                                    {% for field, value in object.fields.items %}
                                        {% if not value.items %}
                                            <tr class="border">
                                                <th class="px-4 py-3">{{ field|parse_var|clean_preference_field_name }}</th>
                                                <th class="px-4 py-3 font-normal">{{ value|to_human_readable }}</th>
                                            </tr>
                                        {% else %}
                                            {% for key, item in value.items %}
                                                <tr class="border">
                                                    <th class="px-4 py-3">{{ key|parse_var }}</th>
                                                    <th class="px-4 py-3 font-normal">{{ item|to_human_readable }}</th>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form method="POST" class="mx-auto w-96">
            {% csrf_token %}
            <button type="submit"
                    name="confirm"
                    class="btn-submit mt-6">
                Confirm
            </button>
            <button type="submit"
                    name="cancel"
                    class="btn-cancel">
                Cancel
            </button>
        </form>
    </div>
{% endblock content %}