{% extends '_base.html' %}

{% block title %}Create Preference{% endblock title %}

{% block content %}
    <script>
        $(document).ready(function () {
            $("#id_object_1_type").change(function () {
                const url = $("#preference-form").attr("dropdown-data-url");
                const objectId = $(this).val();
                $.ajax({
                    url: url,
                    data: {
                        'content_type_id': objectId
                    },
                    success: function (data) {
                        $("#id_object_1").html(data);
                    }
                });
            });

            $("#id_object_2_type").change(function () {
                const url = $("#preference-form").attr("dropdown-data-url");
                const objectId = $(this).val();
                $.ajax({
                    url: url,
                    data: {
                        'content_type_id': objectId
                    },
                    success: function (data) {
                        $("#id_object_2").html(data);
                    }
                });
            });
        });
    </script>

    <div class="w-full min-h-screen text-center">
        <form method="post" class="mx-auto w-96" id="preference-form"
              dropdown-data-url="{% url 'database:ajax_load_dropdown_options' %}">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="my-6 text-xl fieldWrapper">
                {{ form.object_1_type.errors }}
                <label for="{{ form.object_1_type.id_for_label }}">First Member Type:</label>
                <div class="block w-full px-4 py-2 mt-4 leading-normal text-gray-700 bg-white b order border-gray-300 rounded-lg appearance-none focus:outline-none">
                    {{ form.object_1_type }}
                </div>
            </div>
            <div class="my-6 text-xl fieldWrapper">
                {{ form.object_1.errors }}
                <label for="{{ form.object_1.id_for_label }}">First Preference Member:</label>
                <div class="block w-full px-4 py-2 mt-4 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none">
                    {{ form.object_1 }}
                </div>
            </div>
            <div class="my-6 text-xl fieldWrapper">
                {{ form.object_2_type.errors }}
                <label for="{{ form.object_2_type.id_for_label }}">Second Member Type:</label>
                <div class="block w-full px-4 py-2 mt-4 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none">
                    {{ form.object_2_type }}
                </div>

            </div>
            <div class="my-6 text-xl fieldWrapper">
                {{ form.object_2.errors }}
                <label for="{{ form.object_2.id_for_label }}">Second Preference Member:</label>
                <div class="block w-full px-4 py-2 mt-4 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none">
                    {{ form.object_2 }}
                </div>
            </div>

            <button type="submit"
                    class="px-8 py-3 mt-8 text-sm tracking-widest text-center text-white uppercase bg-green-600 rounded shadow hover:bg-green-400 focus:shadow-outline focus:outline-none">
                Create Preference
            </button>
        </form>
    </div>
{% endblock content %}