{% extends '_base.html' %}

{% block title %}Sets CRUD{% endblock title %}

{% block content %}
    <div class="min-h-screen w-full text-center">
        <ul>
            <li class="w-full mt-2 text-xl text-green-500">
                <a href="/crud/model-set">
                    Sets
                </a>
            </li>
            <li class="w-full mt-2 text-xl text-green-500">
                <a href="/set-crud/courses">
                    Course Sets
                </a>
            </li>
            <li class="w-full mt-2 text-xl text-green-500">
                <a href="/set-crud/students">
                    Student Sets
                </a>
            </li>
            <li class="w-full mt-4 text-xl text-green-500">
                <a href="/set-crud/constraints">
                    Constraint Sets
                </a>
            </li>
        </ul>
    </div>
{% endblock content %}