{% extends '_base.html' %}

{% block title %}Users CRUD{% endblock title %}

{% block content %}
    <div class="min-h-screen w-full text-center">
        <ul>
            <li class="w-full mt-4 text-xl text-green-500">
                <a href="/crud/students">
                    Students
                </a>
            </li>
            <li class="w-full mt-2 text-xl text-green-500">
                <a href="/crud/teachers">
                    Teachers
                </a>
            </li>
        </ul>
    </div>
{% endblock content %}