{% extends '_base.html' %}

{% block title %}Constraints CRUD{% endblock title %}

{% block content %}
    <div class="min-h-screen w-full text-center">
        <ul>
            <li class="w-full mt-4 text-xl text-green-500">
                <a href="/">
                    Create Constraint
                </a>
            </li>
            <li class="w-full mt-2 text-xl text-green-500">
                <a href="/">
                    View Constraints
                </a>
            </li>
            <li class="w-full mt-2 text-xl text-green-500">
                <a href="/">
                    Manage Constraint Sets
                </a>
            </li>
        </ul>
    </div>
{% endblock content %}