{% extends '_base.html' %}

{% block title %}About page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="grid grid-cols-2 gap-2 pt-24 text-center">
        <form method="post">
            {% csrf_token %}
            <h2><b>Delete</b>{{ object }}?</h2>
            <button type="submit" class="mt-4 px-8 py-3 text-xs tracking-widest text-center text-white uppercase bg-indigo-600 rounded shadow hover:bg-indigo-700 focus:shadow-outline focus:outline-none">Yes</button>
            <a href="javascript:history.back()" class="mt-4 px-8 py-3 text-xs tracking-widest text-center text-white uppercase bg-indigo-600 rounded shadow hover:bg-indigo-700 focus:shadow-outline focus:outline-none">Cancel</a>
        </form>
    </div>
{% endblock content %}
