{% extends '_base.html' %}

{% block title %}CRUD Update{% endblock %}
{% load tailwind_filters %}

{% block content %}
    <div class="pt-12 text-center">
        <div class="w-1/2 pt-8 mx-auto bg-white rounded-lg">
            <div class="w-2/3 mx-auto text-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="text-lg">Editing the following object</div>
                    <div class="py-8 text-xl"><b>{{ object }}</b></div>
                    <div class="text-left">
                        {{ form|crispy }}
                    </div>
                    <button type="submit"
                            class="px-8 py-3 mt-4 mb-8 mr-8 text-xs tracking-widest text-center text-white uppercase bg-green-600 rounded shadow hover:bg-green-400 focus:shadow-outline focus:outline-none">
                        Save
                    </button>
                    <a href="javascript:history.back()"
                       class="px-8 py-3 mt-4 text-xs tracking-widest text-center text-white uppercase bg-red-600 rounded shadow hover:bg-red-400 focus:shadow-outline focus:outline-none">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}