{% extends '_base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block title %}CRUD - {{ dynamic_model_name }}{% endblock %}


{% block content %}
    {% if render_form %}
        <div class="grid grid-cols-1 gap-2 pb-24 lg:grid-cols-2">
            <div class="absolute left-12">
                <a href="{% url 'pages:crud' %}" class="btn-basic">
                    Back
                </a>
            </div>
            <div class="flex flex-col w-2/3 p-8 mx-auto mt-12 bg-white rounded-3xl">
                <div class="text-lg text-2xl font-bold text-center text-blue-600">
                    Input Form
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit"
                            class="mt-6 btn-submit">
                        Save
                    </button>
                </form>
            </div>
            <div class="w-full px-2 md:px-0 md:pr-12">
                {% include "./database_table_view.html" %}
            </div>
        </div>
    {% else %}
        <div class="grid-cols-1 mx-auto md:w-11/12">
            <div class="absolute left-12">
                {% if dynamic_model_name == "preferences" %}
                    <a href="{% url 'database:create_preference' %}" class="btn-cancel">
                        Back
                    </a>
                {% else %}
                    <a href="{% url 'pages:crud' %}" class="btn-cancel">
                        Back
                    </a>
                {% endif %}
            </div>
            {% include "./database_table_view.html" %}
        </div>
    {% endif %}
{% endblock content %}
