{% extends '_base.html' %}

{% block title %}About page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="grid grid-cols-2 gap-2 pt-24 text-center">
        <table>
            {% for object in all_objects %}
                <tr>
                    <td>
                        {{ object }}
                    </td>
                    <td class="font-bold text-red-500"><a href="{{ object.get_absolute_url }}">Edit</a></td>
                    <td class="font-bold text-red-700"><a href="{{ object.get_delete_url }}"> Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="mt-4 px-8 py-3 text-xs tracking-widest text-center text-white uppercase bg-indigo-600 rounded shadow hover:bg-indigo-700 focus:shadow-outline focus:outline-none">Save</button>
        </form>
    </div>
{% endblock content %}