{% extends '_base.html' %}
{% load tailwind_filters %}
{% block title %}Create Sections in Bulk{% endblock title %}

{% block content %}
    <div class="w-full min-h-screen text-center">
        <form method="post" class="p-8 mx-auto bg-white w-96 rounded-2xl">
            <div class="py-4 mb-10 text-2xl font-bold text-blue-500">
                Bulk Section Creation
            </div>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-12">
                <button type="submit"
                        class="btn-submit">
                    Create Sections
                </button>
                <a href="{% url 'pages:crud' %}" class="ml-8 btn-cancel">
                    Go Back
                </a>
            </div>
        </form>
    </div>
{% endblock content %}