{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Set CRUD - {{ dynamic_model_name }}{% endblock %}

{% block content %}
    <div class="grid items-center grid-cols-1 gap-2 pb-24 lg:grid-cols-2">
        <div class="flex flex-col w-2/3 h-full mx-auto">
            <div class="py-12 text-xl text-center text-gray-800">
                Input Form
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit"
                        class="btn-submit mt-6">
                    Save
                </button>
            </form>
        </div>
        <div class="grid-cols-1 mx-auto md:w-11/12">
            {% include "./database_table_view.html" %}
        </div>
    </div>
{% endblock content %}
