{% extends '_base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block title %}Set CRUD - {{ dynamic_model_name }}{% endblock %}

<style>
    @keyframes highlight {
        0% {
            background: #ffff99;
        }
        100% {
            background: none;
        }
    }

    .highlight {
        animation: highlight 2s;
    }
</style>

<script src="{% static 'js/search.js' %}"></script>

{% block content %}
    <div class="grid grid-cols-1 gap-2 pb-24 lg:grid-cols-2">
        <div class="absolute left-12">
            <a href="{% url 'pages:crud' %}" class="btn-cancel">
                Back
            </a>
        </div>
        <div class="flex flex-col w-2/3 p-8 mx-auto mt-12 bg-white rounded-3xl">
            <div class="text-lg text-2xl font-bold text-center text-blue-600">
                Input Form
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.set | as_crispy_field }}
                {{ form.new_set_name | as_crispy_field }}
                <div class="text-gray-700 font-bold mb-2">
                    {{ form.choices.label }}
                </div>
                <div class="flex rounded-lg mb-8">
                    <input id="look-up-val-ch" class="p-2 focus:outline-none" type="text" placeholder="Look Up...">
                    <button class="bg-white w-auto flex justify-end items-center text-blue-500 p-2 hover:text-blue-400"
                            onclick="scrollToRow(document.getElementById('look-up-val-ch').value, 'choices')"
                            type="button"
                    >
                        <i class="fa fa-search"></i>
                    </button>
                    <div id="search-failure-ch" class="text-red-500 p-2 w-full invisible">
                        No matching entries found.
                    </div>
                </div>
                <div id="choices"
                     class="block p-2 mb-2 overflow-y-scroll text-sm font-bold text-gray-700 bg-white border-gray-300 max-h-72">
                    {{ form.choices }}
                </div>
                <button type="submit"
                        class="mt-6 btn-submit">
                    Save
                </button>
            </form>
        </div>
        <div class="grid-cols-1 mx-auto md:w-11/12">
            {% include "./database_table_view.html" %}
        </div>
    </div>
{% endblock content %}
