{% extends '_base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block title %}Set CRUD - {{ dynamic_model_name }}{% endblock %}

{% block content %}
    <div class="grid items-center grid-cols-1 gap-2 pb-24 lg:grid-cols-2">
        <div class="flex flex-col w-2/3 h-full mx-auto">
            <div class="absolute left-12">
                <a href="{% url 'pages:crud' %}" class="btn-cancel">
                    Back
                </a>
            </div>
            <div class="py-12 text-xl text-center text-gray-800">
                Input Form
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.set | as_crispy_field }}
                {{ form.new_set_name | as_crispy_field }}
                <div class="block p-2 mb-2 overflow-y-scroll text-sm font-bold text-gray-700 bg-white border-gray-300 max-h-72">
                    {{ form.choices }}
                </div>
                <button type="submit"
                        class="mt-6 btn-submit">
                    Save
                </button>
            </form>
        </div>
        <div class="grid-cols-1 mx-auto md:w-11/12">
            {% include "./database_table_view.html" %}
        </div>
    </div>
{% endblock content %}
