{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{% block title %}CS3{% endblock title %}</title>
    <meta name="description" content="Course scheduling and registration.">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/svg" href="{% static 'images/cs3_logo.svg' %}">
    {% block styles %}
        <link
                rel="stylesheet"
                href="{% static 'css/styles.css' %}"
                type="text/css"
        />

        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        >
    {% endblock %}
    {% block javascript %}
        <!-- 3rd party JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <!-- Project JS -->
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock javascript %}
</head>

<body>
{% block nav %}
    <main role="main">
        {% include "./components/navbar.html" %}
    </main>
{% endblock %}

<div class="min-h-screen py-12 bg-gray-200 bg-endlessclouds">
    {% block content %}
        <p>Default content...</p>
    {% endblock content %}
</div>

{% include "./components/footer.html" %}
</body>
</html>
