{% if user.is_authenticated %}
<footer class="bg-teal_color">
  <div class="container align-center mx-auto px-10 pt-4 pb-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 text-center md:text-center">
        <h5 class="uppercase mb-6 font-bold">Help</h5>
        <ul class="mb-4">
          <li class="mt-1">
            <a href="/" class="text-gray-800 hover:text-gray-100">Home</a>
          </li>
          <li class="mt-1">
            <a href="{% url 'pages:docs' %}" class=" text-gray-800 hover:text-gray-100">Docs</a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/2 text-center md:text-center">
        <h5 class="uppercase mb-6 font-bold">Account</h5>
        <ul class="mb-4">
          <li class="mt-1">
            <a href="{% url 'account_change_password' %}" class="text-gray-800 hover:text-gray-100">Change Password</a>
          </li>
          <li class="mt-1">
            <a href="{% url 'account_logout' %}" class="text-gray-800 hover:text-gray-100">Logout</a>
          </li>
        </ul>
      </div>
        <div class="w-full text-center md:border-t border-gray-600 md:text-center">
        <h5 class="mt-3 text-gray-800">© 2021 by DrewUniversityCS</h5>
      </div>

    </div>
  </div>
</footer>

{% else %}
 <footer class="bg-teal_color">
  <div class="container md:divide-x-4 align-center mx-auto px-10 pt-4 pb-4">
    <div class="flex flex-wrap">
        <div class="w-full text-center md:border-t border-gray-600 md:text-center">
        <h5 class="mt-3 text-gray-800">© 2021 by DrewUniversityCS</h5>
      </div>
    </div>
  </div>
</footer>
{% endif %}

<!--<footer class="bg-gray-100">
  <div class="flex flex-wrap justify-center text-center grid-cols-3">
      <div class = "justify-center w-1/3">
        <h5 class="uppercase mb-6 font-bold">Social</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Facebook</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Linkedin</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Twitter</a>
          </li>
        </ul>
      </div>
      <div class = "justify-center w-1/3">
        <h5 class="uppercase mb-6 font-bold">Social</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Facebook</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Linkedin</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Twitter</a>
          </li>
        </ul>
      </div>
      <div class = "justify-center w-1/3">
        <h5 class="uppercase mb-6 font-bold">Social</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Facebook</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Linkedin</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Twitter</a>
          </li>
        </ul>
      </div>
  </div>
</footer>

-->
<!--<footer class="bg-gray-100">
  <div class="container mx-auto pt-10 pb-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 text-center md:text-left">
        <h5 class="uppercase mb-6 font-bold">Social</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Facebook</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Linkedin</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/2 text-center md:text-left">
        <h5 class="uppercase mb-6 font-bold">Company</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Official Blog</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">About Us</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

-->

<!--<nav id="footer" class="bg-gray-500">

    <div class="container mx-auto pt-8 pb-4">

        <div class="flex flex-wrap overflow-hidden sm:-mx-1 md:-mx-px lg:-mx-2 xl:-mx-2">


            <div class="w-full overflow-hidden sm:my-1 sm:px-1 sm:w-1/2 md:my-px md:px-px md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4 xl:my-2 xl:px-2 xl:w-1/4 pb-6">

                <h4 class="text-white">Info</h4>
                <ul class="">
                <li id="navi-2" class="leading-7 text-sm">
                    <a class="text-white underline text-small" href="/page-1">
                        Page 1 </a>
                </li>
                <li id="navi-1" class="leading-7 text-sm"><a class="text-white underline text-small" href="/page-2">Page 2</a></li>
                </ul>
            </div>

            <div class="w-full overflow-hidden sm:my-1 sm:px-1 sm:w-1/2 md:my-px md:px-px md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4 xl:my-2 xl:px-2 xl:w-1/4 pb-6">


                <h4 class="text-white">Products</h4>
                <ul class="">
                <li id="navi-2" class="leading-7 text-sm">
                    <a class="text-white underline text-small" href="/page-1">
                        Page 1 </a>
                </li>
                <li id="navi-1" class="leading-7 text-sm"><a class="text-white underline text-small" href="/page-2">Page 2</a></li>
                </ul>
            </div>

        </div>





        <div class="pt-4 md:flex md:items-center md:justify-center " style="border-top:1px solid white">
            <ul class="">
                <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-white underline text-small" href="/disclaimer">Disclaimer</a></li>
                <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-white underline text-small" href="/cookie">Cookie policy</a></li>
                <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-white underline text-small" href="/privacy">Privacy</a></li>
                </ul>
            </div>


        </div>



</nav>
-->


<!--<footer class="relative pt-1 bg-white border-b-2 border-blue-700 footer">
    <div class="container px-6 mx-auto">
        <div class="flex flex-col items-center mt-16 border-t-2 border-gray-300">
            <div class="py-6 text-center sm:w-2/3">
                <p class="mb-2 text-sm font-bold text-blue-700">
                    © 2021 by DrewUniversityCS
                </p>
            </div>
        </div>
    </div>
</footer>
-->