{% load static %}
<footer class="relative bg-teal">
    <div class="container pb-4 align-center mx-auto">
        <div class="flex flex-wrap pt-4">
            {% if user.is_authenticated %}
            <div class="w-full text-center md:w-1/2 md:text-center">
                <h5 class="mb-6 font-bold uppercase">Assistance</h5>
                <ul class="mb-4">
                    <li class="mt-1">
                        <a href="{% url 'pages:docs' %}" class="text-gray-800 hover:text-gray-100">Documentation</a>
                    </li>
                    <li class="mt-1">
                        <button onclick="helpRedirect();"
                           class="text-gray-800 hover:text-gray-100 focus:outline-none">Help Me</button>
                    </li>
                </ul>
            </div>
            <div class="w-full text-center md:w-1/2 md:text-center">
                <h5 class="mb-6 font-bold uppercase">Account</h5>
                <ul class="mb-4">
                    <li class="mt-1">
                        <a href="{% url 'account_change_password' %}" class="text-gray-800 hover:text-gray-100">Change
                            Password</a>
                    </li>
                    <li class="mt-1">
                        <a href="{% url 'account_logout' %}" class="text-gray-800 hover:text-gray-100">Logout</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <div class="w-full pt-4 text-center border-gray-600 md:border-t md:text-center">
                <h5 class="mt-4 text-gray-800">© 2021 by DrewUniversityCS</h5>
            </div>
        </div>
    </div>
    <div class="h-24 bg-foundation w-full">
    </div>
</footer>

<script src = "{% static 'js/searchDocs.js' %}">
</script>