{% load static %}
<nav class="bg-teal_color flex flex-col md:flex-row py-3 md:py-1">
    <img src="{% static 'images/cs3_logo.svg' %}"
         class="h-16 mx-4 w-16">
    <ul class="flex gap-3 mx-4 my-auto text-white">
        <li class="text-2xl">CS3</li>
        <li class="my-auto opacity-80">Docs</li>
        <li class="my-auto opacity-80">Database</li>
        <li class="my-auto opacity-80">Schedule Editor</li>
         <li class="my-auto opacity-80"><a href="/"> Home</a></li>
        <li class="my-auto opacity-80"><a href="/about"> About</a></li>
        {% if user.is_authenticated %}
            <li class="my-auto opacity-80">{{ user.email }}</li>
            <li class="my-auto opacity-80"><a href="{% url 'account_change_password' %}">Change password</a></li>
            <li class="my-auto opacity-80"><a href="{% url 'account_logout' %}">Log out</a></li>
           <li class="my-auto opacity-80"> <a href="{% url 'pages:invite' %}" >Invite</a>
        {% else %}
            <li class="my-auto opacity-80"><a href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
