{% load static %}
<nav class="flex flex-col py-3 bg-teal_color md:flex-row md:py-1">
    <a href="/" class="mr-8">
        <img src="{% static 'images/cs3_text_logo.png' %}"
             class="w-32 ml-8">
    </a>
    <ul class="flex flex-col justify-between w-full mx-5 my-auto text-base font-medium leading-7 text-white md:flex-row">
        <li class="my-auto">
            <ul class="flex my-auto text-white gap-7">
                <li class="my-auto opacity-80 hover:text-gray-600"><a href="/"> Home</a></li>
                <li class="my-auto opacity-80 hover:text-gray-600"><a href="/about"> About</a></li>
                <li class="my-auto opacity-80 hover:text-gray-600"><a href="{% url 'pages:docs' %}"> Docs</a></li>
                {% if user.is_authenticated %}
                    <li class="my-auto opacity-80 hover:text-gray-600"><a href="{% url 'pages:generate-schedule' %}">Generate
                        Schedule</a>
                    <li class="my-auto opacity-80 hover:text-gray-600"><a href="{% url 'pages:check-schedule' %}">Check
                        Schedule</a>
                    <li class="my-auto opacity-80 hover:text-gray-600"><a href="{% url 'pages:crud' %}">CRUD</a>
                    <li class="my-auto opacity-80 hover:text-gray-600"><a href="{% url 'pages:invite' %}">Invite</a>
                {% endif %}
            </ul>
        </li>
        <li class="my-auto">
            <ul class="flex gap-3 mx-4 my-auto text-sm font-normal text-white">
                {% if user.is_authenticated %}
                    <!--I think we should get rid of the email on the navbar. nav seems cluttered-->
                    <li class="my-auto opacity-80">{{ user.email }}</li>
                    <li class="my-auto opacity-80 hover:text-gray-600"><a href="{% url 'account_change_password' %}">Change
                        password</a>
                    </li>
                    <li class="my-auto opacity-80 hover:text-gray-600"><a href="{% url 'account_logout' %}">Log out</a>
                    </li>
                {% else %}
                    <li class="my-auto opacity-80"><a href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</nav>
