<div @click.away="open = false" class="relative" x-data="{ open: false }">
    <button @click="open = !open"
            class="flex flex-row items-center m-1 text-lg font-semibold text-left bg-gray-300 rounded-md hover:text-gray-800 focus:text-gray-100 focus:outline-none focus:shadow-outline hover:shadow-md h-8 w-8 rounded-full my-auto" style="background-color: {{ color_type }}">
    </button>
    <div x-show="open" x-transition:enter="transition ease-out duration-100"
         x-transition:enter-start="transform opacity-0 scale-95"
         x-transition:enter-end="transform opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-75"
         x-transition:leave-start="transform opacity-100 scale-100"
         x-transition:leave-end="transform opacity-0 scale-95"
         class="absolute right-0 origin-top-right rounded-md shadow-lg bg-white p-4 w-72 z-50">
        <div class="flex"><div class="h-4 w-4 rounded-full my-auto" style="background-color: {{ color_type }}"></div>&nbsp;{{ notes.0.get_color_display }} Notes:</div>
        <ul class="list-decimal list-inside">
            {% for note in notes %}
                <li>{{ note.note }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
